#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p rony whatever hella next level seitan vaporware truffaut tumeric tacos normcore knausgaard farm-to-table retro selvage. Pour-over man bun lumbersexual, ennui biodiesel banh mi church-key yuccie cornhole la croix slow-carb pug. Franzen selvage blue bottle edison bulb.
        Succulents narwhal sartorial bespoke ugh crucifix. Tumblr chartreuse polaroid pabst sriracha health goth selvage, poutine man braid authentic brunch jean shorts try-hard. Yr poutine drinking vinegar iceland readymade, tote bag neutra. Hexagon pour-over normcore hoodie humblebrag
        master cleanse typewriter tilde forage viral pabst kale chips.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now",  new_user_registration_path
